test.py
.DS_Store
Base/__pycache__/
.ipynb_checkpoints/
Routes/__pycache__/
__pycache__/
dump.rdb
config.ini
Application/__pycache__/
Application/Api/__pycache__/
Application/Api/Controller/__pycache__/
Application/Api/Entity/__pycache__/
Application/Api/Service/__pycache__/
Application/Api/Indicators/__pycache__/
memo
quant.pem
aws.pem
ssh.sh