[Binance]
api_key = 
api_secret = 

[OKX]
api_key = 
api_secret = 
pass_phrase = 

[Redis]
host = 

[Discord]
webhook_url = 
stable_check = 

[CoinMarketCap]
api_key = 

[MongoDB]
Account = 
Password = 